#picture {
  height: 200px;
  width: 75px;
  background-image: url("https://files.slack.com/files-pri/T1GGQN1RU-F5D0N8XJ6/man.png");
  display: inline-block;
}

.rope {
  background-position: 0px 0px;
}

.head {
  background-position: -75px 0px;
}

.torso {
  background-position: -150px 0px;
}

.waist {
  background-position: -225px 0px;
}

.body {
  background-position: -300px 0px;
}

.fullbody {
  background-position: -375px 0px;
}

.redeyes {
  background-position: -450px 0px;
}
